.evaluation
  .instructor-title-quarter
    .instructor= link_to @evaluation.human_instructor_name, instructor_path(@evaluation.human_instructor_name)
    .title-quarter
      %span.title= @evaluation.human_title
      |
      %span.quarter= @evaluation.human_quarter
  .enrolled
    %span.number_box= @evaluation.surveyed.to_s
    surveyed out of
    %span.number_box= @evaluation.enrolled.to_s
    enrolled.
  .reliability
    Reliability:
    %span.number_box= "#{@evaluation.reliability}%"
    
  = render(:partial => "scores", :object => @evaluation.scores)
