%table#evaluations-list
  %tr.header-row
    %td Instructor Name
    %td Dept.
    %td Course
    %td Quarter
    %td View
  - @evaluations.each do |evaluation|
    %tr{:class => cycle('even-row','odd-row')}
      %td= evaluation.human_instructor_name
      %td= "#{link_to("#{evaluation.dept}", department_path(evaluation.dept))} #{evaluation.human_number}"
      %td= evaluation.human_quarter
      %td= link_to 'Show', evaluation