.evaluation.span-16.prepend-2.append-2.center
  %h3
    = link_to @evaluation.human_instructor_name, instructor_path(@evaluation.instructor)
    |
    = link_to @evaluation.department.abbrev, department_path(@evaluation.department)
    = link_to @evaluation.course_title.number, course_title_path(@evaluation.course_title)
    |
    = @evaluation.human_quarter
  %p
    %span.highlight-box= @evaluation.surveyed.to_s
    surveyed out of
    %span.highlight-box= @evaluation.enrolled.to_s
    enrolled. Reliability:
    %span.highlight-box= "#{@evaluation.reliability}%"
      
  = render(:partial => "scores", :object => @evaluation.scores)