%table
  %tr.header-row
    %td{:rowspan => '2'} Name
    %td{:rowspan => '2'} Evaluations on file
    %td{:colspan => '4'} Average ratings
  %tr.header-row
    %td Overall
    %td Instructor-specific
    %td Course-specific
    %td Grading
  - @instructors.each do |instructor|
    %tr{:class => cycle('even-row','odd-row')}
      %td= link_to instructor.human_name, instructor_path(instructor)
      %td= instructor.number_of_evaluations
      %td= instructor.average_overall_rating or "--"
      %td= instructor.average_instructor_specific_rating or "--"
      %td= instructor.average_course_specific_rating or "--"
      %td= instructor.average_grading_rating or "--"
%p= will_paginate(@instructors) if @instructors