%table#course-titles-list
  %tr.header-row
    %td{:rowspan => '2'} Name
    %td{:rowspan => '2'} Evaluations on file
    %td{:colspan => '4'} Average ratings
  %tr.header-row
    %td Overall
    %td Instructor-specific
    %td Course-specific
    %td Grading
  - @course_titles.each do |course|
    %tr{:class => cycle('even-row','odd-row')}
      %td= link_to course.human_name, course_title_path(course)
      %td= course.evaluations.size
      %td= course.average_overall_rating or "--"
      %td= course.average_instructor_specific_rating or "--"
      %td= course.average_course_specific_rating or "--"
      %td= course.average_grading_rating or "--"