!!!
%html
  %head
    %meta{'http-equiv' => "content-type", 'content' => "text/html;charset=UTF-8"}
    %title= @title ? @title : "Unofficial University of Washington Course Evaluations Catalog"
    %meta{:name => "description", :content => "Student course evaluations for University of Washington Seattle, Bothell, Tacoma, and Extension."}
    %meta{:name => "keywords", :content => "uw, university of washington, washington, uw seattle, uw bothell, uw tacoma, uw extension, evaluations, ratings, professor ratings, professor evaluations, course evaluations"} 
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
    <!–[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]–>
    = stylesheet_link_tag('main')
    
  %body
    .container
      #header.span-24.center
        %h1
          Unofficial University of Washington<br />
          Course Evaluations Catalog
      %hr
      #nav.span-24.center
        %p
          = link_to "Search Instructors", instructors_path
          |
          = link_to "Home", root_path
          |
          = link_to "Search Courses", course_titles_path
      #main.span-20.prepend-2.append-2
        %hr
        %p.flash= flash[:notice]
        = yield
        %hr
      - if (@ads and not @ads.empty?)
        #ad-words.span-24.center
          - if @ads.include?("adsense")
            %p
              <script type="text/javascript"><!--
              google_ad_client = "pub-3325828397062003";
              /* 728x90, created 9/12/08 */
              google_ad_slot = "3717607161";
              google_ad_width = 728;
              google_ad_height = 90;
              //-->
              </script>
              <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
              </script>
          - if @ads.include?("paypal")
            %p
              Do you like this site? Donate a dollar!
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="2418072">
              <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="">
              <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
          %hr
      #footer.span-24
        .span-12.border.left
          = mail_to "uwcourses@gmail.com", "give feedback or suggest a feature!", :encode => 'javascript'
        .span-12.last.right
          = "#{Evaluation::SIZE} evaluations"
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-5504107-1");
    pageTracker._trackPageview();
    </script>
      