!!!
%html
  %head
    %meta{'http-equiv' => "content-type", 'content' => "text/html;charset=UTF-8"}
    %title= "Unofficial UW Evaluations Catalog"
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">    
    <!–[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]–>
    = stylesheet_link_tag('main')
    
  %body
    .container
      #header.span-24.center
        %h1 Unofficial University of Washington Evaluations Catalog
      %hr
      #main.span-20.prepend-2.append-2
        %p.flash= flash[:notice]
        = yield
      
        %hr
      .span-24.center
        %p
          <script type="text/javascript"><!--
          google_ad_client = "pub-3325828397062003";
          /* 728x90, created 9/12/08 */
          google_ad_slot = "3717607161";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        %hr
      #footer.span-24.center
        %p
          = link_to "Search Instructors", instructors_path
          |
          = link_to "See All Departments", departments_path
          |
          = link_to "Search Courses", course_titles_path
        %hr
      .span-12.border.left
        = mail_to "uwcourses@gmail.com", "contact", :encode => 'javascript'
      .span-12.last.right
        = "#{Evaluation::SIZE} evaluations"
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-5504107-1");
    pageTracker._trackPageview();
    </script>
      