!!!
%html
  %head
    %meta{'http-equiv' => "content-type", 'content' => "text/html;charset=UTF-8"}
    %title= "Unofficial UW Evaluations Catalog"
    = stylesheet_link_tag('scaffold', 'main')
    
  %body
    #header.box
      %h1 Unofficial University of Washington Evaluations Catalog
    %p.flash= flash[:notice]
    #main
      = yield
    #footer.box
      = link_to "All Departments", departments_path
      |
      = link_to "All Instructors", instructors_path
      |
      = link_to "All Evaluations", instructors_path
      